.headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.todos {
  display: flex;
  flex-wrap: wrap;
}

.todo {
  padding: 10px;
  margin: 10px;

  text-align: center;
  word-break: break-all;

  width: fit-content;
  height: fit-content;

  border: 2px solid #ccc;
  border-radius: 10px;

  min-width: 100px;
  min-height: 100px;

  max-width: 200px;
  max-height: 100px;

  overflow: auto;
}
